//global----------------------------------------------------------------------------------


main {
    width: 100%;
    background-color: white;
    padding-bottom: 2rem;
    @include flex-c;
}

header {
    position: relative;
    width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;

    li {
        text-decoration: none;
        list-style-type: none;

        a {
            text-decoration: none;
            color: #2c2a2a;
            font-family: $font__header;
        }
    }
}

h2, h3, h4 {
    font-family: $font__header;
}

h4 {
    margin: .5rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figure {
    width: 100%;
}

.widget {

    li {
        text-decoration: none;
        list-style-type: none;
    }
}

.wp-block-button {
    margin: 1rem;

    a {
        border-radius: 0px;
        font-family: $font__header;
    }
}

.hidden {
    opacity: 0;
}

.revealed {
    opacity: 1;
    transition: opacity 1s;
}

.entry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    margin: 0px;
    padding: 0px;

    @include desktop {
        max-width: 100%;
    }

    p {
        padding-bottom: 3rem;
        border-bottom: 1px solid lightgrey;

        &:last-child {
            border-bottom: 0px;
            padding-bottom: 0px;
        }
    }
}

.entry-title {
    @include title-border-tb;
}

.mandatory {
    color: red;
}

// header----------------------------------------------------------------------------------

.fp-header {
    display: flex;
    justify-content: center;
    width: 100%;

    h1 {
        z-index: 1;
        letter-spacing: 4px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        color: #2c2a2a;
        font-family: $font__header;
        font-size: 2.8rem;
        width: 100%;
        text-align: center;
        opacity: 0;
    }

    #hero-title {
        @include desktop {
            margin-top: 7vw;
        }
    }

    .hero-title-before {
        font-size: 3rem;
        opacity: 1;
        transition: font-size 1.5s linear .2s, opacity 2s linear .2s;
    }
}

.absoluted {
    position: absolute;
}

.menu-button {
    position: absolute;
    width: 10vw;
    max-width: 50px;
    height: 10vw;
    max-height: 50px;
    z-index: 1;
    left: 1vw;

    @include desktop {
        display: none;
    }
}

.nav-container {
    background-color: $color__branding_cyan;
    width: 100%;
    height: 3vw;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.82);

    @include desktop {
        display: flex;
        position: fixed;
        z-index: 10000;
        overflow: hidden;
    }
}

.nav-container-border {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 90%;

    nav {
        max-width: 80%;

        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;
            margin-top: .1rem;

            @include desktop {
                margin: 0px;
            }

            li {
                font-size: 1.25rem;
                letter-spacing: 4px;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
                // color: #2c2a2a;
                font-family: $font__header;

                :hover {
                    font-size: 1.35rem;
                    transition: font-size .5s;
                }
            }
        }
    }
}

.main-navigation {
    @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-header-nav-container {
    @include desktop {
        height: 100%;
        width: 100%;

        .menu {
            height: 100%;

            li {
                display: flex;
                align-items: center;
            }
        }
    }
}

.header-sidebar-nav {
    ul {
        display: flex;
        flex-direction: column;
        margin: 5rem 0rem 0rem 2rem;

        li {
            margin: 2rem 0rem;
        }
    }
}

#secondary {
    position: absolute;
    top: 0px;
    z-index: 2;
    background-image: url('../../assets/req/blacknwhite-menu.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #0C0E0D;
    width: 100%;
    min-height: 100vh;

    ul {

        li {

            a{
                color: white;

                &:hover {
                    font-size: 1.8em;
                    transition: font-size 1s;
                }
            }
        }
    }
}

.header-sidebar-nav-exit {
    margin: 2rem;
    font-size: 1.5rem;
}

.menu-hidden {
    left: -100vw;
    transition: left 1s;

    a {
        opacity: 0;
        transition: opacity 1s linear;
    }
}

.menu-shown {
    left: 0px;
    transition: left 1s;

    a {
        opacity: 1;
        transition: opacity 1s linear .8s;
    }
}

//front-page----------------------------------------------------------------------------------

.hero-image {
    width: 100%;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 42% 55%;
        opacity: .8;
        border-bottom: 1px solid $color__text-main;
        background-color: grey;

        @include desktop {
            object-position: 0% 20%;
        }
    }

    figure {
        width: 100%;
        margin: 0px;

        img {
            width: 100%;
            min-height: 100vh;
            object-fit: cover;
            object-position: 42% 55%;
            opacity: .9;
            border-bottom: 1px solid $color__text-main;
        }
    }
}

.main-content-container {
    @include flex-c;

    .front-page-intro, .location-container {
        margin: 10%;
        text-align: center;

        h2 {
            display: inline-block;
            width: 100%;
            @include title-border-tb;
        }
    }

    .front-page-intro {
        margin: 1vw 0vw 0vw 0vw;
        width: 85%;

        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
            h2, p {
                width: 95%;
            }

            p {
                border-bottom: 1px solid #d3d3d3;
                padding-bottom: 2vw;
            }
        }
    }
}

.location-container {
    @include flex-c;
    text-align: center;

    @include desktop {
        display: none;
    }
}

#contact-info-inhabitent-3 {
    li:nth-child(2) {
        span {
            font-size: 1.5rem;
            
            @include desktop {
                font-size: .5vw;
            }
        }
    }
}

.business-info-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-top: 1px solid $color__text-main;
    border-bottom: 1px solid $color__text-main;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    background-image: url('../../assets/img/barber-tools.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    @include desktop {
        display: none;
    }

    h2 {
        text-decoration: underline;
    }

    h2, span, li {
        font-weight: bold;
    }

    .hours-container {
        max-width: 69%;

        @include desktop {
            max-width: 100%;
        }
    }
}
.desktop-main-links {
    margin-top: 2.5vw;

    figure {
        position: relative;
        overflow: hidden;
    }

    figcaption {
        position: absolute;
        font-size: 4vw;
        color: white;
        text-shadow: 2px 2px 2px #CECECE;
        top: 11vw;
        margin: 0px;
        font-family: quicksand;
    }

    img {
        @include desktop {
            transition: transform 1s;
            transform: scale(1);
            width: 100%;
            height: 100%;
        }
    }

    figure:hover {
        a img {
            @include desktop {
                transition: 1s;
                transform: scale(1.05);
            }
        }
    }
}

.desktop-main-links .wp-block-group__inner-container {
    display: none;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


    .main-a-u,.main-fb,.main-contact {
        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 25vw;
            background-color: lightgray;
            margin: 0px;

            a {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .main-a-u {
        @include desktop {
            grid-row: 1;
            grid-column: 1 / span 2;
        }
    }

    .main-fb,.main-contact {
        @include desktop {
            grid-row: 2;
        }
    }

    .main-contact {

    }

    // .main-a-u-link {
    //     @include desktop {
    //         padding: 10vw;
    //         background-color: blue;
    //     }
    // }
}

.instagram-container {
    width: 83%;
    margin-top: 6vw;
    border-top: solid #d3d3d3 1px;
    padding-top: 6vw;

    @include desktop {
        width: 100%;
        margin-top: 2vw;
        border-top: 0px;
        padding-top: 0px;
    }
}

//footer----------------------------------------------------------------------------------

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33vw;
    background-image: url("../../assets/req/dark-wood.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid #2c2a2a;

    @include desktop {
        display: grid;
        grid-template-columns: 1.5fr 4fr 1.5fr;
        grid-template-rows: 1fr;
        height: 10vw;
        padding: 0px 1vw;
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            display: flex;
            align-items: center;
            text-align: center;
            margin: 0px .5rem;

            @include desktop {
                margin: 0 1.5rem;
            }

            a {
                color: white;

                @include small-mobile {
                    word-break: break-all;
                }
            }
        }
    }
}

.footer-hidden {
    display: none !important;
}

.footer-hours-container {
    display: none;

    @include desktop {
        display: block;
        color: white;
        font-size: .7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 3vw;
    }

    p {
        @include desktop {
            margin-bottom: 0px;
        }
    }

    h2 {
        @include desktop {
            margin: 0px;
        }
    }

    aside {
        @include desktop {
            margin-top: .5vw;
        }

        ul {
            @include desktop {
                flex-direction: column;
            }
        }
    }
}

.site-navigation-footer {
    ul {
        @include desktop {
            justify-content: center;
        }
    }
}

.footer-contact-location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
        flex-direction: row;
        justify-content: space-around;
    }

    p {
        @include desktop {
            margin-bottom: 0px;
        }
    }

    h2 {
        @include desktop {
            margin: .5vw;
        }
    }
}

.footer-contact-us-container, .footer-location-container {
    display: none;

    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 3;
        grid-row: 1;
        text-align: center;
        color: white;
        font-size: .7vw;
    }
}

// stylists

.page-content {

    img {
        width: 100%;
        height: 70vw;
        object-fit: cover;
        object-position: center;

        @include desktop {
            height: 25vw;
        }
    }
}

.page-stylists {

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }
    
    .wp-block-group__inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid $color__border-abbr;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .wp-block-group:last-child .wp-block-group__inner-container{
        border-bottom: 0px;
        margin-bottom: 0px;

        @include desktop {
            border-bottom: 1px solid $color__border-abbr;
            margin-bottom: 1rem;
        }
    }

    .wp-block-group {
        width: 100%;
    }
}

.page-stylists .wp-block-group:nth-child(even) {
    @include desktop {
        padding-right: 3vw;
    }
}

.page-stylists .wp-block-group:nth-child(odd) {
    @include desktop {
        padding-left: 3vw;
    }
}

.page-stylists .wp-block-group:nth-child(1) {
    @include desktop {
        padding-left: 0px;

        img {
            height: 30vw;
        }
    }
}

.page-stylists .wp-block-group:first-child {
    @include desktop {
        grid-column: 1 / span 2;
    }
}

.site-stylists {
    padding-bottom: 0px;
}

.bio-fade {
    transition: .5s;
    opacity: 0;
}

.bio.bio-fade-in {
    transition: .5s;
    opacity: 1;
    top: 0px;
}

.bio.bio-fade-out {
    transition: .5s;
    opacity: 0;
    top: -100vh;
}

.main-fade-in {
    transition: .5s;
    opacity: 1;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100vh;
    left: 0px;
    width: 100vw;
    min-height: 100vh;
    opacity: 0;
    max-height: 100vh;
    padding: 5vw 0px;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        padding: 1vw;
        justify-items: center;
    }

    .bio-pic {
        width: 90%;
        height: 65vw;
        object-fit: cover;

        @include desktop {
            grid-column: 1;
            grid-row: 1 / span 5;
            height: 100%;
        }
    }

    .bio-name {
        margin: 11vw 0px 6vw 0px;
        font-size: 7.5vw;

        @include desktop {
            margin: 0px;
            font-size: 1vw;
        }
    }
    
    .bio-button {
        border-radius: 0px;
        width: 60%;
        font-size: 5vw;
        color: #fff;
        font-family: quicksand, sans-serif;

        @include desktop {
            font-size: 1vw;
        }
    }
    
    .bio-description {
        width: 90%;
        margin-bottom: 8vw;
        font-size: 4.5vw;
        overflow: scroll;

        @include desktop {
            margin-bottom: 1vw;
            font-size: 1vw;
            text-align: center;
        }
    }
}

// contact-us

.contact-container {
    @include flex-c;
    padding-top: 10rem;

    div {
        @include flex-c;
    }
}

.contact-us-container, footer {
    #contact-info-inhabitent-3 li .sidebar-branding {
        @include desktop {
            font-size: 1vw;
        };
    }
}


// services

.shadow-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .35;
}

.services-container {

    @include desktop {
        width: 99%;
        border-top: solid lightgrey 1px;
        padding: 3vw 0px;
    }

    article {

        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 1fr;
            margin: 0vw 1vw;
        }
        
        .entry-div {
            position: relative;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -35px;

            @include desktop {
                width: 100%;
                height: 26vw;
                grid-column: 1;
                background-size: cover;
                background-position-y: 0px;
            }
        }

        .entry-title {
            position: relative;
            z-index: 1;
            color: white;

            @include desktop {
                width: 15vw;
                color: black;
                position: absolute;
                font-size: 2vw;
                left: 60.5vw;
            }
        }

        .page-content {
            @include desktop {
                margin-top: 7vw;
                margin-left: 2vw;
            }
        }

    }
}

.services-container:nth-child(even) {

    article {

        @include desktop {
            grid-template-columns: 1.5fr 1fr;
        }
        
        .entry-div {

            @include desktop {
                width: 100%;
                height: 26vw;
                grid-column: 2;
            }
        }

        .entry-title {

            @include desktop {
                left: -37.5vw;            }
        }

        .page-content {
            @include desktop {
                grid-column: 1;
                grid-row: 1;
                margin-right: 2vw;
            }
        }

    }
}

.services-container:nth-child(1) {
    @include desktop {
        margin-top: 2vw;
    }
}


// contact us

.business-info-container-cu {
    @include flex-c;
    text-align: center;
    border-top: $color__border-abbr solid 1px;
    max-width: 90%;

    h2 {
        text-decoration: underline;
    }
}

.cu {
    max-width: 90%;
    
    h2 {
        text-decoration: underline;
    }
}

.content-container {
    @include flex-c;

    @include desktop {
        display: none;
    }
}